version: "3"

networks:
  grafana:

volumes:
  app_data: {}

services:
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/:/etc/prometheus/
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    ports:
      - 9090:9090
    networks:
      - grafana

  loki:
    image: grafana/loki:1.6.1
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - grafana

  promtail:
    image: grafana/promtail:1.6.1
    volumes:
      - app_data:/var/log
    networks:
      - grafana

  grafana:
    image: grafana/grafana:latest
    ports:
      - 3214:3214
    networks:
      - grafana

  db:
    image: grafana/tns-db:latest
    ports:
      - 8082:80
    networks:
      - grafana


  arenaclient:
    image: aiarena/arenaclient:latest
    volumes:
      - D:\proj\aiarena-client\arenaclient\configs\config_dev.py:/root/aiarena-client/config.py
      - app_data:/root/
    command:
      - "while true do python -m arenaclient -f; done;"
    ports:
      - 8083:8765
    networks:
      - grafana